#carousel-container {
  width: min(70rem, 100%);
  padding: 1rem;
  margin: auto;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-padding: 0rem 2rem;
  margin: auto;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 100%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    var(--shadow) 5%,
    var(--shadow) 95%,
    transparent
  );
}

#carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  min-width: 50%;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  scroll-snap-align: center;
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 10px var(--shadow);
  cursor: pointer;
}

.carousel-card img {
  max-width: 100%;
  aspect-ratio: 4/3;
  border-radius: inherit;
  object-fit: cover;
}

#nextBtn:disabled,
#prevBtn:disabled {
  opacity: 0.5;
  color: var(--muted-foreground);
  cursor: not-allowed;
}

#nextBtn,
#prevBtn {
  font-size: 1.5rem;
  position: absolute;
}

#nextBtn {
  right: 0%;
  top: 50%;
}

#prevBtn {
  left: 0%;
  top: 50%;
}

#carousel-section {
  position: relative;
  width: min(70rem, 100%);
  margin: auto;
  overflow: hidden;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 1rem;
}

.carousel-btns {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;

  color: var(--foreground);
}

@media (max-width: 800px) {
  #nextBtn,
  #prevBtn {
    display: none;
  }

  .carousel-card {
    min-width: 90%;
    scroll-snap-align: start;
  }
}
