.auth-main {
  width: min(40rem, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  margin-inline: auto;
}

.auth-main h2,
.auth-main span {
  color: var(--muted-foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  position: relative;
  font-family: "Inter", sans-serif;
}

p {
  color: var(--muted-foreground);
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}

h2 {
  font-size: 1.8rem;
}

.my-posts {
  padding: 1rem;
}

h3 {
  font-size: 1.2rem;
}

.hidden {
  opacity: 0;
  transition: 200ms ease-in-out;
  transform: translateY(2rem);
}

.show {
  opacity: 1;
  transition: 200ms ease-in-out;
  transform: translateY(0);
}

@media (max-width: 800px) {
  .auth-main h1 {
    font-size: 2rem;
  }
}
