main {
  width: min(90rem, 97%);
  display: grid;
  gap: 2rem;
  margin-inline: auto;
}

.feed-section {
  margin-bottom: 3rem;
}

#posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.post-card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 1rem;
  box-shadow: 0px 2px 10px var(--shadow);
  position: relative;
}

.comments {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  bottom: 1rem;
  cursor: pointer;
  right: 1rem;
}

h5 {
  font-size: 1.5rem;
}

.fy {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.post-card img {
  max-width: 100%;
  border: 1px solid var(--border);
  aspect-ratio: 4/3;
  border-radius: inherit;
  object-fit: cover;
}

#pagination-controls {
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: red;
}

#following-toggle,
#foryou-toggle {
  cursor: pointer;
}

#next-page {
  position: absolute;
  right: 1.5rem;
  top: 0;
}

#prev-page {
  position: absolute;
  left: 1.5rem;
  top: 0;
}

@media (max-width: 53rem) {
  #posts-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 37rem) {
  #posts-container {
    grid-template-columns: 1fr;
  }
}
