.modal {
  display: none;
  z-index: 1000;
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  padding: 1rem;
}

.modal.open {
  display: flex;
}

.modal-header {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
