@import url(_reset.css);
@import url(_theme.css);
@import url(_form.css);
@import url(_nav.css);
@import "./components/button.css";
@import url(_feed.css);

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
